#include <stdbool.h>
#include <walloc.h>
#include <aidoku.h>
#include <std.h>
#include <net.h>
#include <html.h>

WASM_EXPORT
std_obj_t get_manga_list(std_obj_t filter_list_obj, int page) {
	// TODO
}

WASM_EXPORT
std_obj_t get_manga_details(std_obj_t manga_obj) {
	// TODO
}

WASM_EXPORT
std_obj_t get_chapter_list(std_obj_t manga_obj) {
	// TODO
}

WASM_EXPORT
std_obj_t get_page_list(std_obj_t chapter_obj) {
	// TODO
}
